<% include_stylesheet 'admin/products' %>

<h1>Categories</h1>
<table class="index">
	<thead>
		<tr>
			<th>Category</th>
			<th>Modify</th>
		</tr>
	</thead>
<% @categories.each do |category| %>
	<tr>
		<td><%= link_to category.name, admin_category_url(category) %></td>
		<td class="product-modify"><%= link_to "Edit", edit_admin_category_url(category)  %> </td>
	</tr>
<% end %>
</table>

<div id="actions">
	<ul>		
		<li>
			<%= link_to image_tag('/images/admin/plus.png', :border => 0) + " Add Category", new_admin_category_url %>
				
		</li>
	</ul>
</div>