<% include_stylesheet 'admin/products' %>

<h1>Add Category</h1>
<% form_for :category, :url => admin_categories_url do |f| %>

<%= render :partial => "form", :locals => {:f => f, :category => @category} %>

<% end %>
