<h1><%= @category.name %></h1>
<p><%= @category.description %></p>
<%= link_to "Edit", edit_admin_category_url(@category) %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Delete", admin_category_url(@category), :method => :delete %>
